* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #f00;
}

.main-visual {
  width: 100%;
  height: 500px;
  background-color: #ffa500;
}

.boxs {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.side-box {
  width: 230px;
  height: 1400px;
  background-color: #ccffcc;
}

.center-box {
  width: 500px;
  height: 1400px;
  background-color: #00cc66;
}

footer {
  height: 100px;
  background-color: #0099ff;
}