* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.box:first-child {
  background-image: url(../HTML.CSS/caravan/chapter6/img/box1.jpg);
}

.box:nth-child(2) {
  background-image: url(../HTML.CSS/caravan/chapter6/img/box2.jpg);
}

.box:nth-child(3) {
  background-image: url(../HTML.CSS/caravan/chapter6/img/box3.jpg);
}

.box:last-child {
  background-image: url(../HTML.CSS/caravan/chapter6/img/box4.jpg);
}