* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(../HTML.CSS/caravan/chapter7/img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual h1 {
  padding: 20px;
}

.main-box {
  width: 840px;
  margin: 50px auto;
}

.item-box {
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 30px;
  margin-bottom: 30px;
}