* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.item-box {
  width: 300px;
  padding: 10px;
  background-color: #EEEEEE;
  position: relative;
}

.item-box span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #fff;
}

.item-box:nth-child(1),
.item-box:nth-child(2) {
  margin-right: 30px;
}

.image-flow01 {
  height: 150px;
  background-size: cover;
  background-position: bottom;
  background-image: url(../HTML.CSS/caravan/chapter9/img/flow01.png);
}

.image-flow02 {
  height: 150px;
  background-size: cover;
  background-position: bottom;
  background-image: url(../HTML.CSS/caravan/chapter9/img/flow02.png);
}

.image-flow03 {
  height: 150px;
  background-size: cover;
  background-position: bottom;
  background-image: url(../HTML.CSS/caravan/chapter9/img/flow03.png);
}

.item-box h2 {
  margin: 15px 0 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}